$breakpoint-tablet: 600px;
$breakpoint-desktop: 1024px;


.slides{
    position: relative;
    .slide{
        .image{
            position: relative;
            width: 100vw;
            height: 35vh;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            p{
                text-align: right;
                margin-right: 2rem;
                position: absolute;
                bottom: 0.5rem;
                left: 50%;
            }
        }
    }
}


@media (min-width: $breakpoint-tablet) {
    .slides{
        .slide{
            display: flex;
            height: 45vh;
            .image{
                height: 45vh;
                p{
                    left: 55%;
                    bottom: 1rem;
                }
            }
        } 
    }
}
@media (min-width: $breakpoint-desktop) {
    .slides{
        .slide{
            height: 70vh;
            .image{
                height: 70vh;
                p{
                    left: 65%;
                    bottom: 1rem;
                }
            }
        } 
    }
}
