
.burger{
    position: absolute;
    left: 6%;
    top: 35%;
    cursor: pointer;
    .navline{
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: white;
    }
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;

    .logo{
        img{
            width: 8rem;
        }
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        transition: left 0.3s ease-in;
        background-color: #a9b2bbf6;
        width: 100%;
        left: 100%;
        li{
            font-size: 17px;
            margin: 17px 0;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .left{
        top: 15vh;
        // left: 0;
    }
    .right{
        top: 33vh;
        // left: 0;
    }
    .show{
        left: 0px;
    }
}

@media (min-width:900px){
    nav{
        ul{
            list-style: none;
            position: static;
            flex-direction: row;
            left: 0%;
            background-color: transparent;
            top: 0%;
            li{
                margin: 0;
            }
        }
        .left{
            li{
                padding-right: 9vw;
            }
        }
        .right{
            li{
                padding-left: 9vw;
            }
        }
        .burger{
            display: none;
        }
        .show{
            left: 100%;
        }
    }
}