
.burger{
    position: absolute;
    left: 6%;
    top: 35%;
    .navline{
        width: 6vw;
        height: 0.20rem;
        margin: 0.3rem;
        background-color: white;
    }
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;

    .logo{
        img{
            width: 8rem;
        }
    }
}