.modelsDisplay{
    margin: 0 15vw 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 700px){
    .modelsDisplay{
        margin: 0 10vw 5vw;
        .models{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 1.2rem;
            flex: 1 1 ;
        }
    }
}
@media (min-width: 1020px){
    .modelsDisplay{
        margin: 0 5vw 5vw;
        .models{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 1rem;
            flex: 1 1 1 1;
        }
    }
}