.footer{
    width: 100%;
    padding: 2% 0px;
    background-color: rgba(255, 255, 255, 0.336);
    // height: 20vh;
    overflow: hidden;
    position: relative;

    .circle{
        width: 18rem;
        height: 18rem;
        background-color: rgba(255, 255, 255, 0.174);
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        top: 20%;
        left: -20%;
    }
    
}

.logo{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2%;
    position: relative;
    img{
        width: 2.5rem;
    }
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;
    li{
        padding: 5px 17px;
        font-size: 0.7rem;
    }
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        padding: 10px;
        width: 1.50rem;
    }
}

@media (min-width:900px){
    .footer{
        padding: 1% 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo{
            img{
                width: 3.5rem;
            }
        }
        .circle{
            width: 25rem;
            height: 25rem;
            top: 10%;
            left: -10%;
        }
    }
    ul{
        li{
            padding: 5px 30px;
            font-size: 0.9rem;
        }
    }

}