body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #A9B2BB;
  color: #FFFEF8;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.other{
  font-family: 'Amiri', serif;
}



.circle{
  background-color: #FFFEF8;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  opacity: 0.25;
  margin: 0 auto;
}
.line{
  width: 4rem;
  background-color: #FFFEF8;
  height: 0.2rem;
  margin: 0 auto;
}